<% if !session[:user_id] %>
<div class='signing-form'>
	<div class='signup'>
		<h6>CReate user</h6>
		<form method="post" action="/signup">
			<input type="text" name="username">
			<input type="text" name="password">
			<input type="submit" >

		</form>


	</div>
<hr>	

	<div class="login">
		<h6>Already user</h6>
		<form method="post" action="/login">
			<input type="text" name="username">
			<input type="text" name="password">
			<input type="submit" >

		</form>
		



	</div>
	




</div>
<% end %>
